body{
  
  overflow-x: hidden;
}

.cover2{
	padding-top: 100px;
}



li{
	font-size: 15px;
}

.aboveCover{
	height:80%;
	width :100%;
	float: right;
	top: 100px;
	
}
.collapse{
	margin-left: 70px;}

.form-inline{
	margin-left: 80px;}

.nav-item{
	padding-left: 15px;}

.pharagraph_cover {
  margin-bottom: 60px;
}

.feature{
	margin-top: 90px;}

.feature_2{
    margin-left: 30px;
	margin-top: 120px;
}

.feature_3{
	margin-left: 120px;	
    margin-top: 50px;

}

.feature_img{
	margin-left: 90px;
	margin-top: 140px;
	height: 20%;
	width: 30%;
}

.feature_title{
	margin-top: 50px;
	margin-left:550px;
}

.section2_1{
	margin-top: 110px;
}

.Dr_title{
	text-align: center;
	margin-top: 200px;

}


@font-face{
	font-family: ayah1;
	src:url('../font/Cinzel_Decorative/CinzelDecorative-Regular.ttf');
}

#fontCover{font-family: ayah1;
font-size: 40px;
font-weight:bolder;
}

#font_1{font-family: ayah1;
font-size: 25px;
font-weight:bolder;
}


.fas{
	margin-left: 50px;
}

.Doctors{
	margin-top: 400px;
}

.footCard{
	padding-left: 0px;
}


.fas{
	margin-left: 0px;
}



.QEH{
  margin-top: 50px; 
  margin-left: 70px;
}

.QEH :hover{
	opacity: 0.7;
}

.wow{
	text-align: center;
}


.Q1 {

    background-color: #59ABE3;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 12px;
    padding: 10px;
    width: 300px;
 }

.top{ 
padding-left: 20px; }


.E1{
    background-color: #4B77BE;
     border-radius: 50px;
     cursor: pointer;
    margin-left: 12px;
    padding: 10px;
    width: 300px;

}

.card :hover{
	background-color:#89C4F4;
}

.H1{
   background-color:#5D8CAE;
    border-radius: 50px;
    cursor: pointer;
    margin-left: 12px;
    padding: 10px;
    width: 300px;
   }

.studies_text{
	text-align: justify-all;
}

.studiesFeature{
	background-color:  #e6f3ff;
	margin-top: 100px;
}

#pStu{
	color:  #1a90ff;
	display: inline-block;
}

#hStu {
color:  #1a90ff;	
}



.department{
    margin-left:40px;
}

.service_color_1{
	background-color: #b3c6ff;
	padding: 20px;
	margin-left:0px;
	border: 10px outset ;
	margin-bottom: 10px;
}

.service_color_2{
	background-color:#e6f2ff;
    padding: 20px;
    margin-left:0px;
    border: 10px outset ;
    margin-bottom: 10px;

}



.pDepart{
	margin-top: 20px;
    margin-left:300px;
    display: inline-block;	
}

.icon-box-modern{
	border-style: outset;
	height: 300px;
	width: 300px;
	padding: 20px;
	margin-bottom: 20px;
}


.d-lg-block{
	display: inline-block;
}


.Appointment{
    margin-top: 150px;
	background-color:  #e6f3ff;
	padding: 30px;
	height: 550px;	
}

#Department{
	margin-bottom: 150px;
}

.Appoint_1{
    margin-top: 150px;

}

.hr-footer{
	color: blue;
}

#Textarea{
	margin-left: 0px;
}

.Appointment2{
	margin-top: 100px;

}

.Appointment3{
	border-style: outset;

}

.Appointment_section{
    margin-top: 150px;
}

#imgAppointment{
	width:110%;
	height:100%;
}

.Appointment_1{
	background-color:  #99ccff;
}

.Appointment_1_1{
	margin-top:  63px;
}

.appointment_button{
	margin-top: 30px;
}

.footer{
	margin-top: 100px;
	padding-top: 20px;
	width: 100%;
	background-color:  #ccddff;
}

.social{
	margin-left: 200px;
	color: black;
}

.socialMedia{
	display: inline-block;
	padding-right: 10px;
}

.text-style-1{
display: inline-block;
}

.FF{
	padding-left: 20px; 
}


#DD{
	color:  #002b80;
}